// Config Map
// Here you can specify in JSON format where to search for devices:
//
// iface: local interface you want to use this program on (iface)
//        (you can get this by running "ip addr")
//
// ip_mask: IP mask that will be applied to the host address
//          For example, if the iface address is 192.168.20.4 and the specified mask is 255.255.255.0,
//          then the program will search for addresses of the form 192.168.20.*
//          (ignoring 192.168.20.0 which is considered to be the network address and 192.168.20.255 which is considered to be the broadcast address)
//          If empty, then the program will try to conclude the mask by itself from checked interface
//          If that fails, the default is 255.255.255.0
//
// cache_timeout: number of days the MAC->IP entry in the cache is treated as valid
//                if empty, default value is 30 days
//
// i.e.:
// {
//     "iface": ["wlp5s0"],
//     "ip_mask": ["255.255.255.0"],
//     "cache_timeout": ["30"]
// }

{

}

