// Config Map
// Here you can specify in JSON format where to search for devices:
//
// iface: local interface you want to use this program on (iface)
//        (you can get this by running "ip addr")
//
// ip_mask: IP mask you expect searched device could have 
//          (you can get this by running "sudo arp-scan -l" and looking at any of the addresses)
//          can have only one "*"
//          if empty, then program will try to conclude the mask by itself from checked interface, but can fail if interface has too broad mask
//
// cache_timeout: number of days the MAC->IP entry in the cache is treated as valid
//                if empty, default value is 30 days
//
// i.e.:
// {
//     "iface": ["wlp5s0"],
//     "ip_mask": ["192.168.0.*"],
//     "cache_timeout": ["30"]
// }

{
    "iface": [""],
    "ip_mask": [""],
    "cache_timeout": [""]
}

